[submodule "ru-bootcamp-challenges-and-projects"]
	path = ru-bootcamp-challenges-and-projects
	url = https://github.com/solrey3/ru-bootcamp-challenges-and-projects.git
[submodule "machine-learning-challenge"]
	path = machine-learning-challenge
	url = https://github.com/solrey3/machine-learning-challenge.git
[submodule "leaflet-challenge"]
	path = leaflet-challenge
	url = https://github.com/solrey3/leaflet-challenge.git
[submodule "D3-challenge"]
	path = D3-challenge
	url = https://github.com/solrey3/D3-challenge.git
[submodule "plotly-challenge"]
	path = plotly-challenge
	url = https://github.com/solrey3/plotly-challenge.git
[submodule "javascript-challenge"]
	path = javascript-challenge
	url = https://github.com/solrey3/javascript-challenge.git
[submodule "web-scraping-challenge"]
	path = web-scraping-challenge
	url = https://github.com/solrey3/web-scraping-challenge.git
[submodule "Web-Design-Challenge"]
	path = Web-Design-Challenge
	url = https://github.com/solrey3/Web-Design-Challenge.git
[submodule "sqlalchemy-challenge"]
	path = sqlalchemy-challenge
	url = https://github.com/solrey3/sqlalchemy-challenge.git
[submodule "Project_2020_05"]
	path = Project_2020_05
	url = https://github.com/solrey3/Project_2020_05.git
[submodule "sql-challenge"]
	path = sql-challenge
	url = https://github.com/solrey3/sql-challenge.git
[submodule "RU-Bootcamp-Project1"]
	path = RU-Bootcamp-Project1
	url = https://github.com/solrey3/RU-Bootcamp-Project1.git
[submodule "python-api-challenge"]
	path = python-api-challenge
	url = https://github.com/solrey3/python-api-challenge.git
[submodule "Project1-2020"]
	path = Project1-2020
	url = https://github.com/solrey3/Project1-2020.git
[submodule "matplotlib-challenge"]
	path = matplotlib-challenge
	url = https://github.com/solrey3/matplotlib-challenge.git
[submodule "pandas-challenge"]
	path = pandas-challenge
	url = https://github.com/solrey3/pandas-challenge.git
[submodule "python-challenge"]
	path = python-challenge
	url = https://github.com/solrey3/python-challenge.git
[submodule "VBA-challenge"]
	path = VBA-challenge
	url = https://github.com/solrey3/VBA-challenge.git
